import os
from uuid import uuid4
from datetime import timedelta


basedir = os.path.abspath(os.path.dirname(__name__))


# SECRET_KEY='mysite'
SECRET_KEY = str(uuid4()) #乱数を設定
SQLALCHEMY_DATABASE_URI='sqlite:///' + os.path.join(basedir, 'data.sqlite')
SQLALCHEMY_TRACK_MODIFICATIONS=False

SESSION_TYPE = 'sqlalchemy'
SESSION_COOKIE_SECURE = True # httpsの使用
SESSION_COOKIE_HTTPONLY = True # JavaScriptからクッキーにアクセスできないようにします
SESSION_COOKIE_SAMESITE = 'Lax' # クロスサイトリクエストでクッキーが送信されないようにします
PERMANENT_SESSION_LIFETIME = timedelta(minutes=30)



UPLOAD_FOLDER = './uploads'
MAX_CONTENT_LENGTH = 16 * 1000 * 1000  # 16メガバイト
SCHEDULER_API_ENABLED= True
ENV='production'