<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ExcelFreedom</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <!-- navbar -->
        <header>
        <nav>
            <div class="nav-container">
                <ul class="globalnav">
                    <li><a href="{{ url_for('app.home') }}" class="header-logo">ExcelFreedom</a></li>
                    <li><a href="#">Excelのめんどくさいを減らすSaaS</a></li>
                    <li><a href="{{ url_for('app.explain') }}">About</a></li>
                    <li><a href="{{ url_for('app.login') }}">ログイン</a></li>
                    <li><a href="{{ url_for('app.signup') }}">今すぐ使う</a></li>
                </ul>
            </div>
        </nav>
        </header>
        {% block content %}

        {% endblock %}

        <footer>
            <div class="footer-container">
                <p class="copyright">©benelop</p>
            </div>
        </footer>
    </body>

</html>