{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Excel app</title>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr); /* 2列の配置 */
                grid-gap: 20px; /* ボックス間の間隔 */
                padding: 20px; /* コンテナの内側の余白 */
              }
          
            .upload, .preview, .sheet, .copy, .print, .files {
                border: 1px solid #ccc; /* ボックスの境界線 */
                padding: 20px; /* ボックス内の余白 */
                background-color: #f9f9f9; /* ボックスの背景色 */
              }
        </style>
    </head>

    <body>
      
    
      <div class="grid-container">
        <div class="upload">
          <h1>UPLOAD</h1>
          <p>※format allowed : 'xlsx', 'xlsm', 'xls', 'csv'<br>
          ※Only One File is allowed
          </p>
          <form action="{{ url_for('app.upload')}}" id="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xls, .xlsx, .xlsm, .csv" multiple>
            <input type="submit" value="upload">
          </form>
        </div>

        <!-- {% with feedback = get_flashed_messages(category_filter=["feedback1"]) %}
        {% if feedback %}
        <div class="feedback message">
          <ul>
            {% for msg in feedback1 %}
            <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% endwith %}
        -->

        <div class="preview">
          <h1>Filebox</h1>
            <ul>
            {% for datum in data %}
                <li>
                    {{ datum.name }} | <a href="{{ url_for('app.preview', id=datum.id) }}">preview</a>|<a href="{{ url_for('app.download', id=datum.id) }}">download</a>|<a href="{{ url_for('app.delete', id=datum.id) }}">delete</a>
                </li>
            {% endfor %}
            </ul>
        </div>


        <div class="sheet">
          <h1>Making Sheets by Names on Column A</h1>
          <div>
            {% for datum in data %}
            <input type="hidden" name="sheet" value="0">
            <input type="checkbox", name="sheet", value="1">{{ datum.name }}<br>
            {% endfor %}
          </div>
          <form action="{{ url_for('app.sheet') }}" method="POST">
              <div>
                  <input type="hidden" name="checked" value="0">
                  <input type="checkbox", name="checked", value="1">Generating sheets named by Column A
                  <input type="submit" value="Submit">
              </div>
          </form>
        </div>


        <div class="copy">
          <h1>Copy</h1>
          <div>
            {% for datum in data %}
            <input type="hidden" name="sheet" value="0">
            <input type="checkbox", name="sheet", value="1">{{ datum.name }}<br>
            {% endfor %}
          </div>
          <form action="{{ url_for('app.copy') }}" method="POST">
              <div>
                  <input type="hidden" name="checked" value="0">
                  <input type="checkbox", name="checked", value="1">Copy rowdata into Coherent sheet
                  ※taking one space within FirstName & FamilyName
                  <input type="submit" value="Submit">
              </div>
          </form>
        </div>

      </div>

</body>
{% endblock %}