{% extends "base.html" %}
{% block content %}

<h1>全てのシートに印刷設定を適用できるページです</h1>
<form action="{{ url_for('app.print') }}"method="POST">
    <div>
        <h3>用紙サイズ設定</h3>
        <label for="papersize">用紙サイズ: </label>
        <select name="papersize">
            <option value="">選択してください</option>
            <option value="1">レター(タテ279mm x ヨコ216mm)</option>
            <!-- <option value="2">PAPERSIZE_LETTER_SMALL</option>
            <option value="3">PAPERSIZE_TABLOID</option>
            <option value="4">PAPERSIZE_LEDGER</option>
            <option value="5">PAPERSIZE_LEGAL</option>
            <option value="6">PAPERSIZE_STATEMENT</option>
            <option value="7">PAPERSIZE_EXECUTIVE</option> -->
            <option value="8">A3(タテ297mm x 420mm)</option>
            <option value="9">A4(タテ297mm x ヨコ210mm)</option>
            <!-- <option value="10">PAPERSIZE_A4_SMALL</option> -->
            <option value="11">A5(タテ148mm x ヨコ210mm)</option>
        </select>
    </div>
    
    <div>
        <h3>印刷方向</h3>
        <input type="radio", name="orientation", value="portrait">縦<br>
        <input type="radio", name="orientation", value="landscape">横
    </div>
    <h3>ページはみだしを無くします</h3>
    <div>
        <input type="hidden" name="fitToWidth" value="0">
        <input type="checkbox", name="fitToWidth", value="1">横1枚にまとめる<br>
        <input type="hidden" name="fitToHeight" value="0">
        <input type="checkbox", name="fitToHeight", value="1">縦1枚にまとめる
    </div>
    <br>
    <div>
        <input type="submit" value="送信">
    </div>
</form>
{% endblock %}