{% extends "base.html" %}
{% block content %}

  <h1>ファイルアップロード機能</h1>
  <h2  href="url_for('/upload')">ファイルアップロード機能はこちら</h2>
  {% if  %}
  {# comment1 upload.htmlでPOSTが成功したら表示 #} 
  {% endif %}

  <p class="section">sec</p>

  <h1>show data table</h1>
  <h2 id="table" href="url_for('/table)">アップしたファイルをtable形式で表示します/タブ並べ替えはこちら</h2>
  {% if %}
  {# comment2 table.htmlでPOSTが成功したら表示 #}
  {% endif %}

  
  <p class="section">sec</p>

  <h1>シート生成はちょちら</h1>
  <h2 id="makesheets" href="url_for('/makesheets)">氏名からシートを生成します</h2>
  {% if %}
  {# comment3 makesheets.htmlでPOSTが成功したら表示 #}
  {% endif %}


  <h1>シート転記はこちら</h1>
  <h2 id="sheetcopy" href="url_for('/sheetcopy)">シートにデータ転記はこちら</h2>
  {% if %}
  {# comment4 sheetcopy.htmlでPOSTが成功したら表示 #}
  {% endif %}


  <h1>print settings</h1>
  <h2 id="print" href="url_for('/print)">印刷設定はこちら</h2>
  {% if %}
  {# comment5 print.htmlでPOSTが成功したら表示 #}
  {% endif %}

{% endblock %}